template(name="modify")
  if test
    +detailsHeader(isModify="true" test=test)
    +quickForm(collection="CssTests" doc=test id="modify" type="update" buttonContent="Save Changes")
  else
    h1 Create New Test
    +quickForm(collection="CssTests" id="modify" type="insert" buttonContent="Save New Test")
    a.btn.btn-default( href="{{pathFor route='home'}}")
      | Cancel
