template(name="welcome")
  #welcome-login
    .container
      +loginButtons(align="right")
  #welcome-header
    .container
      h1 SteezTest.me
      h2 CSS Unit Testing
  #welcome-footer
    .container
      h1 buh bye

